In [1]:
x = '78'
y = int(x)
print(type(y),y)

<class 'int'> 78

In [2]:
x = 40
y = float(x)
print(type(y),y)

<class 'float'> 40.0

In [4]:
venkat = [1,2,5,3,6,4,8,7,9,4,2,1]
set1 = set(venkat)
print(set1)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

# length built in functions

In [6]:
len(venkat)

12

In [7]:
len(set1)

9

In [9]:
x='apple'
len(x)

5

In [10]:
dict1 = {'venu':24, 'sunil':45}
set1 = set(dict1)
print(set1)

{'sunil', 'venu'}

# list of tuple with size 2

In [13]:
x = [('venu',24), ('sunil',34)]
y = dict(x) 
print(type(y),y)

<class 'dict'> {'venu': 24, 'sunil': 34}

# .values(), .keys(), .items() buitin in dict

In [20]:
x = {'kontham_venkatesh':1996, 'kontham_swetha':2003}
print(set(x.values()))
print(set(x.keys()))
print(list(x.items()))

{2003, 1996}
{'kontham_venkatesh', 'kontham_swetha'}
[('kontham_venkatesh', 1996), ('kontham_swetha', 2003)]

In [26]:
swetha = {'twinkle_twintle':123, 'uncle_uncle':456}
print(swetha)
print(list(swetha.items()))
print(set(swetha.keys()))
print(tuple(swetha.values()))

{'twinkle_twintle': 123, 'uncle_uncle': 456}
[('twinkle_twintle', 123), ('uncle_uncle', 456)]
{'twinkle_twintle', 'uncle_uncle'}
(123, 456)

In [27]:
len(swetha)

2

In [29]:
bhavani = {'bhavani':'u_r_always_mine'}
print(bhavani)

{'bhavani': 'u_r_always_mine'}

## immutability of tuple 
1) we can change the elements of list inside the tuple 
2) bt we cannot change the the id of tuple that are stored early

In [52]:
x = ([1,2,3,4], 4)
print(id(x))
print(id(x[0]))
print(id(x[1]))
print(x[1])
x[0][0] = 10
x[0][1] = 20
x[0][2] = 30
x[0][3] = 40
print(x)

2038193872640
2038195508480
2038121195920
4
([10, 20, 30, 40], 4)

In [53]:
x = ([1,2,3,4], 4)
x[1] = 400

TypeError: 'tuple' object does not support item assignment

In [59]:
x = (['sun_rise'], 'sun_set',400)
x[0][0] = 'sun_set'
print(x)

(['sun_set'], 'sun_set', 400)

In [60]:
x[2] = 20

TypeError: 'tuple' object does not support item assignment